.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem; /* gap-6 */
  min-height: 103vh;
  font-family: 'Inter', sans-serif;
  padding-left: 1rem;  /* px-4 */
  padding-right: 1rem;
}

.logo {
  width: 180px;
  height: 145px;
  flex-shrink: 0;
}

.card {
  padding: 2rem; /* p-8 */
  border-radius: 1rem; /* rounded-2xl */
  width: 100%;
  max-width: 24rem; /* max-w-sm */
}

.title {
  text-align: center;
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
  margin-bottom: 0.5rem; /* mb-2 */
}

.subtitle {
  text-align: center;
  font-size: 0.875rem; /* text-sm */
  color: #4B5563; /* text-gray-600 */
  margin-bottom: 1.5rem; /* mb-6 */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* gap-6 */
}

.linkText {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1.5rem;
  color: #6B7280; /* text-gray-500 */
}

.inputLabel {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151; /* text-gray-700 */
  margin-bottom: 0.25rem;
}

.inputField {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #D1D5DB;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  outline: none;
}

.inputField:focus {
  border-color: #D8ED8F;
  box-shadow: 0 0 0 2px #D8ED8F;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.submitButtonEnabled {
  background-color: #A4D17A; /* 밝은 연두 */
  color: #1E2F23; /* 어두운 글자색으로 가독성 확보 */
}

.submitButtonEnabled:hover {
  background-color: #8CC766; /* hover 시 좀 더 진한 초록 */
}

.submitButtonDisabled {
  background-color: #D1D5DB;
  color: #9CA3AF;
  cursor: not-allowed;
}

.linkTextButton {
  display: inline-block;
  text-align: center;
  font-size: 0.875rem;
  color: #4B5563; /* text-gray-600 */
  margin-top: 1rem; /* mt-4 */
  text-decoration: underline;
}