.container {
  display: flex;
  flex-direction: column;
  gap: 103px;
  align-items: center;
}

.title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 700; /* font-bold */
  color: #232323; /* text-gray-800 */
  text-align: center;
  width: 250px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  width: 280px;
  height: 60px;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  color: #232323; /* text-gray-800 */
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 1rem; /* rounded-2xl */
  background-color: #f5eee0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e8dfcf;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #d1c8b0;
}
